/*自定义属性*/
.f-l-l{  float: left;}
.f-l-r{  float: right;}
.mr-5{ margin-right: 5px;}
.mr-10{ margin-right: 10px;}
.mr-15{ margin-right: 15px;}
.mr-20{ margin-right: 20px;}
.ml-5{ margin-left: 5px;}
.ml-10{ margin-left: 10px;}
.ml-15{ margin-left: 15px;}
.ml-20{ margin-left: 20px;}
a{color:#333;}
a:focus, a:hover {
    color: #333;
    text-decoration: none;
}
body{
    font-family: 'Microsoft YaHei';
}
ul,li{
    list-style: none;
    padding: 0;
}
/*/自定义属性*/





/*头部开始*/
.head-content{
    background-color: #000;
    width: 100%;
    line-height:45px;
}
.head-content a{
    color: #fff;
}
.head-top{
    background-color: #000;
    color: #f7f7f7;
    height:45px;
    width: 1400px;
    margin:0 auto;
}
.head-top-left {
    margin-bottom: 0;
}
.quickArea{
    margin-left:20px;
}
.head-nav{
    background: url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/nei_photo/image/toolBar.png) 0px 0px repeat-y;
}
.head-nav .logo{
    text-indent: -9999px;
    margin-top: 0;
}
.flogo {margin-right: 20px;}
.toolBar{
    height: 90px;
    overflow: hidden;
    width:1400px;
    margin: 0 auto;
}
.toolBar h1.logo {
    width:266px;
    height:90px;
    display:block;
    background:url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/nei_photo/image/main.png) 0px 10px no-repeat;
    float:left;
    margin-left:25px
}
.toolBar .navList {
    overflow:hidden;
    float:right;
    margin:24px 0px 24px
}
.navList li {
    float:left;
    width:130px;
    height:42px;
    line-height:42px;
    margin-left:1px;
    text-align:center
}
.navList li a {
    color:#dadada;
    display:block;
    background:#444 url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/nei_photo/image/main.png) no-repeat;
    padding-left:15px
}
.navList li.cur a,.navList li a:hover {
    color:#fff;
    background:#d73d3d url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/nei_photo/image/main.png) no-repeat
}
.navList li a.icon01 {
    background-position:20px -180px
}
.navList li a.icon02 {
    background-position:-110px -180px
}
.navList li a.icon03 {
    background-position:-240px -180px
}
.navList li a.icon04 {
    background-position:-368px -180px
}
.navList li.cur a.icon01,.navList li a:hover.icon01 {
    background-position:20px -243px
}
.navList li.cur a.icon02,.navList li a:hover.icon02 {
    background-position:-110px -243px
}
.navList li.cur a.icon03,.navList li a:hover.icon03 {
    background-position:-240px -243px
}
.navList li.cur a.icon04,.navList li a:hover.icon04 {
    background-position:-368px -243px
}
/*/头部结束*/


/*尾部开始*/
.footer-content{
    width: 1400px;
    margin:0 auto;
}
.foot-column .col-md-2{
    width:20%;

}
.caption>p{
    color: #5e5e5e;
}
.foot-column{
    padding: 20px 0;
    border-bottom: #ddd solid 1px;
}
.foot-main{
    background-color: #333;
    color: #ddd;
}
.foot-main-content{
    width:1400px;
    margin:0 auto;
}
.main-item-title{
    text-align: center;
}
.foot-main-content .col-sm-2{
    width:20%;
}
.url-list-itme{
    float: left;
    width:125px;
    /*text-align: center;*/
    height:30px;
    line-height:30px;
}
.url-list-itme>a{
    color: #a4a4a4;
}
.main-item-title{
    margin:20px 0;
}
.footer-copyright{
    padding-top:20px;
    background-color: #000;
    color: #fff;
}
.copyright-item{
    width: 1400px;
    color: #fff;
    margin:0 auto;
}
.footer-website-info a{
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height:30px;

}
.website-info-list{
    margin-right: 20px;
    line-height:30px;
}
/*尾部结束*/


/** 悬浮窗开始 **/
/* 主要css样式*/
.main-im{position:fixed;right:10px;top:300px;z-index:100;width:110px;height:272px;}
.main-im .qq-a{display:block;width:106px;height:116px;font-size:14px;color:#0484cd;text-align:center;position:relative;}
.main-im .qq-a span{bottom:5px;position:absolute;width:90px;left:10px;}
.main-im .qq-hover-c{width:70px;height:70px;border-radius:35px;position:absolute;left:18px;top:10px;overflow:hidden;z-index:9;}
.main-im .qq-container{z-index:99;position:absolute;width:109px;height:118px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom:1px solid #dddddd;background:url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/new-zjk/xuanfu/img/qq-icon-bg.png) no-repeat center 8px;}
.main-im .img-qq{max-width:60px;display:block;position:absolute;left:6px;top:3px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.main-im .im-qq:hover .img-qq{max-width:70px;left:1px;top:8px;position:absolute;}
.main-im .im_main{background:#F9FAFB;border:1px solid #dddddd;border-radius:10px;background:#F9FAFB;display:none;}
.main-im .im_main .im-tel{color:#000000;text-align:center;width:109px;height:105px;border-bottom:1px solid #dddddd;}
.main-im .im_main .im-tel div{font-weight:bold;font-size:12px;margin-top:6px;}
.main-im .im_main .im-tel .tel-num{font-family:Arial;font-weight:bold;color:#e66d15;}
.main-im .im_main .im-tel:hover{background:#fafafa;}
.main-im .im_main .weixing-container{width:55px;height:47px;border-right:1px solid #dddddd;background:#f5f5f5;border-bottom-left-radius:10px;background:url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/new-zjk/xuanfu/img/weixing-icon.png) no-repeat center center;float:left;}
.main-im .im_main .weixing-show{width:112px;height:172px;background:#ffffff;border-radius:10px;border:1px solid #dddddd;position:absolute;left:-125px;top:-126px;}
.main-im .im_main .weixing-show .weixing-sanjiao{width:0;height:0;border-style:solid;border-color:transparent transparent transparent #ffffff;border-width:6px;left:112px;top:134px;position:absolute;z-index:2;}
.main-im .im_main .weixing-show .weixing-sanjiao-big{width:0;height:0;border-style:solid;border-color:transparent transparent transparent #dddddd;border-width:8px;left:112px;top:132px;position:absolute;}
.main-im .im_main .weixing-show .weixing-ma{width:104px;height:103px;padding-left:5px;padding-top:5px;}
.main-im .im_main .weixing-show .weixing-txt{position:absolute;top:110px;left:7px;width:100px;margin:0 auto;text-align:center;}
.main-im .im_main .go-top{width:50px;height:47px;background:#f5f5f5;border-bottom-right-radius:10px;background:url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/new-zjk/xuanfu/img/totop-icon.png) no-repeat center center;float:right;}
.main-im .im_main .go-top a{display:block;width:52px;height:47px;}
.main-im .close-im{position:absolute;right:10px;top:-12px;z-index:100;width:24px;height:24px;}
.main-im .close-im a{display:block;width:24px;height:24px;background:url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/new-zjk/xuanfu/img/close_im.png) no-repeat left top;}
.main-im .close-im a:hover{text-decoration:none;}
.main-im .open-im{cursor:pointer;margin-left:68px;width:40px;height:133px;background:url(https://sheyingnet.oss-cn-shanghai.aliyuncs.com/new-zjk/xuanfu/img/open_im.png) no-repeat left top;}
/** 悬浮窗结束 **/